* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica;
}

body {
    background-color: #121210;
}

header {
    border-bottom: 1px solid #b7ae8f;
    padding: 1rem 2rem;
    color: #b7ae8f;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#search-container {
    display: flex;
    align-items: center;
    gap: 1rem;
}

#search-input {
    background-color: #b7ae8f;
    border-radius: 5px;
    border: none;
    padding: 10px;
    font-weight: bold;
    color: #121210;
    width: 400px;
}

#search-input::placeholder {
    color: #121210;
}

#export-notes {
    background-color: #121210;
    border: 2px solid #b7ae8f;
    border-radius: 4px;
    color: #b7ae8f;
    padding: 5px 15px;
    cursor: pointer;
    transition: 0.4s;
}

#export-notes:hover {
    background-color: #b7ae8f;
    color: #121210;
}

#add-note-container {
    display: flex;
    width: 400px;
    margin: 1rem auto 0;
    gap: 1rem;
}

#add-note-container input, #add-note-container button {
    padding: 10px;
    border-radius: 5px;
}

#add-note-container input {
    flex: 1;
    background-color: transparent;
    border: 1px solid #b7ae8f;
    color: #b7ae8f;
}

#add-note-container button {
    cursor: pointer;
    background-color: #b7ae8f;
    color: #121210;
}

#notes-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 250px);
    padding: 2rem;
    gap: 2rem;
}

.note {
    min-height: 200px;
    padding: 1rem;
    border: 1px solid #b7ae8f;
    background-color: #3b3b36;
    border-radius: 10px;
    color: #b7ae8f;
    position: relative;
}

.note textarea {
    background-color: transparent;
    resize: none;
    color: #fff;
    border: none;
    height: 100%;
    outline: none;
}

.note .bi-pin, .bi-pin-fill {
    position: absolute;
    left: 10px;
    bottom: 10px;
    font-size: 1.2rem;
    cursor: pointer;
    padding: 5px;
    border-radius: 3px;
}

.note:hover > i {
    opacity: 1;
}

.note .bi-x-lg, .note .bi-file-earmark-plus {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 0.9rem;
    padding: 5px;
    transition: 0.3s;
    cursor: pointer;
    opacity: 0;
}

.note .bi-file-earmark-plus {
    top: 40px;
}

.note .bi-x-lg:hover, .note .bi-file-earmark-plus:hover {
    color: #fff;
}

.note.fixed {
    background-color: #64625e;
}

@media (max-width: 450px) {
    header {
        flex-direction: column;
        gap: 1rem;
        width: 100%;
    }

    #search-container {
        width: 100%;
    }

    #search-input {
        width: 100%;
    }

    #add-note-container {
        width: 100%;
        padding: 0 2rem;
    }

    #notes-container {
        grid-template-columns: repeat(auto-fill, 100%);
    }
}









